$white: #ffffff;
$black: #000000;
$bg-color: #fafafd;
$menu-color: #4c4c4c;
$bg-hover: #f9efef;
$blue-color: #006bb4;
$border-color: #d3dae6;
$para-color: #191919;
$scroll-color: #d6d6d6;
$item-color: #505050;
$danger-color: #b55b50;
$border-dark: #7f7f7f;
$box-border: #4c4c4c;